@media (max-width: 480px) {
  html {
    overflow-x: hidden;
  }
  html body {
    overflow-x: hidden;
  }
  html body .wrapper {
    background: url(images/bg.jpg);
    background-size: 350%;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  html body .wrapper header {
    height: 12vh;
    width: 100vw;
    background: transparent;
  }
  html body .wrapper header nav {
    background: transparent;
  }
  html body .wrapper header nav .logo {
    height: 70px;
    left: 13.5%;
  }
  html body .wrapper header nav .logo h1 {
    font-size: 3.5rem;
  }
  html body .wrapper header nav .logo h1:hover {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
  html body .wrapper header nav .menu_lines {
    height: 30px;
    width: 40px;
    right: 5%;
  }
  html body .wrapper header nav .menu_lines .first_line {
    height: 3px;
    width: 100%;
  }
  html body .wrapper header nav .menu_lines .second_line {
    height: 3px;
    width: 70%;
  }
  html body .wrapper header nav .menu_lines .third_line {
    height: 3px;
    width: 40%;
  }
  html body .wrapper .hero {
    height: 88vh;
    width: 100vw;
    overflow: hidden;
  }
  html body .wrapper .hero .hero_inner h1 {
    width: 100%;
    font-size: 8rem;
    letter-spacing: 7px;
    -webkit-text-stroke: 0.3px;
  }
  html body .wrapper .hero .hero_inner h1 span {
    display: block;
    text-align: center;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .wrapper .hero .hero_inner h1 .first_initial {
    top: 45%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  html body .wrapper .hero .hero_inner h1 .second_initial {
    top: 45%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  html body .wrapper .hero .hero_inner h1 .third_initial {
    top: 45%;
    left: 63%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  html body .wrapper .hero .hero_inner h1 .fourth_initial {
    top: 45%;
    left: 72%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  html body .wrapper .hero .hero_inner .menu_square {
    top: 25%;
  }
  html body .wrapper .hero .hero_inner .menu_square .menu_square_inner .inner_menu_square:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: var(--accentColor2);
    z-index: 5;
  }
  html body .wrapper .hero .hero_inner .social {
    width: 400px;
    left: -50%;
    bottom: 26%;
  }
  html body .wrapper .hero .hero_inner .social a {
    font-size: 0.7rem;
  }
  html body .wrapper .hero .hero_inner h2 {
    left: 45%;
  }
  html body .wrapper .hero .hero_inner p {
    left: 58%;
  }
  html body .home .home__inner .about {
    height: 50vh;
    width: 75vw;
    top: 40%;
  }
  html body .home .home__inner .about h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
  }
  html body .home .home__inner .move_ahead_btn {
    height: 40px;
    width: 40px;
    font-size: 2rem;
  }
  html body .home .home__inner .mab1 {
    top: 70%;
    left: 10%;
  }
  html body .home .home__inner .mab2 {
    top: 70%;
    left: 35%;
  }
  html body .home .home__inner .mab3 {
    top: 70%;
    left: 57%;
  }
  html body .home .home__inner .mab4 {
    top: 70%;
    left: 80%;
  }
  html body .home .home__inner h2 {
    left: 45%;
  }
  html body .home .home__inner p {
    left: 58%;
  }
  html body .expertise .expertise__inner .expertise_tab {
    height: 70vh;
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .expertise .expertise__inner .expertise_tab .tab {
    height: 20%;
    width: 100%;
  }
  html body .expertise .expertise__inner h2 {
    left: 45%;
  }
  html body .expertise .expertise__inner p {
    left: 58%;
  }
  html body .skills .web_dev_skills,
  html body .skills .graphic_design_skills,
  html body .skills .modelling_skills,
  html body .skills .animation_skills {
    height: 50vh;
  }
  html body .skills .web_dev_skills h1,
  html body .skills .graphic_design_skills h1,
  html body .skills .modelling_skills h1,
  html body .skills .animation_skills h1 {
    font-size: 2rem;
    text-align: left;
    left: 32%;
    width: 200px;
  }
  html body .skills .web_dev_skills h2,
  html body .skills .graphic_design_skills h2,
  html body .skills .modelling_skills h2,
  html body .skills .animation_skills h2 {
    font-size: 1rem;
    padding: 1rem;
    width: 100px;
    left: 80%;
  }
  html body .skills .web_dev_skills .topics,
  html body .skills .graphic_design_skills .topics,
  html body .skills .modelling_skills .topics,
  html body .skills .animation_skills .topics {
    height: 47%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 5;
  }
  html body .skills .web_dev_skills .topics h3,
  html body .skills .graphic_design_skills .topics h3,
  html body .skills .modelling_skills .topics h3,
  html body .skills .animation_skills .topics h3 {
    font-size: 0.7rem;
  }
  html body .skills .web_dev_skills .progress_box,
  html body .skills .graphic_design_skills .progress_box,
  html body .skills .modelling_skills .progress_box,
  html body .skills .animation_skills .progress_box {
    height: 70%;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  html body .skills .graphic_design_skills .topics {
    height: 52%;
  }
  html body .skills .graphic_design_skills .topics h3 {
    width: 400px;
    text-align: center;
  }
  html body .skills .graphic_design_skills .progress_box {
    height: 75%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html body .skills .modelling_skills .topics {
    height: 34%;
  }
  html body .skills .modelling_skills .progress_box {
    height: 64%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html body .skills .animation_skills {
    height: 30vh;
  }
  html body .skills .animation_skills .topics {
    height: 10%;
    top: 57.5%;
  }
  html body .blog_section .blog_section_heading {
    width: 50%;
  }
  html body .blog_section .blog_section_heading h1 {
    font-size: 5rem;
  }
  html body .blog_section .blog_section_details {
    width: 50%;
  }
  html body .blog_section .blog_section_details p {
    font-size: 1rem;
    text-align: left;
    font-weight: 900;
    width: 80%;
  }
  html body .footer {
    background: url(images/mobilebg5.jpg);
    background-position: bottom;
    background-size: 100%;
    height: 40vh;
  }
  html body .footer h1 {
    top: 15%;
    left: 50%;
  }
  html body .footer p {
    top: 25%;
    left: 50%;
  }
  html body .footer h2 {
    top: 45%;
    font-size: 2rem;
  }
  html body .footer .sitemap {
    top: 55%;
  }
  html body .footer h4 {
    top: 85%;
    left: 50%;
    width: 80%;
    text-align: center;
  }
}
/*# sourceMappingURL=media.css.map */